*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.calc{
    width: 600px;
    border: solid 2px #2a2a2a;
    border-radius: 10px;
    background-color: #ad519c;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    gap: 20px;
}

.calc__result{
    grid-column: 1 / -1;
    background-color: #e9dede;
    color: #000000;
    font-size: 56px;
    padding: 10px;
}

.calc__btn{
    border: none;
    border-radius: 5px;
    background-color: #eae5e5;
    cursor: pointer;
    
    font-size: 30px;
    box-shadow: 2px 3px 2px rgb(0, 0, 0, 0.5);
}

.calc__btn:hover{
    opacity: 0.9;
}

.calc__btn:active{
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

.calc__btn_operator{
    background-color: rgb(226, 168, 79);
}

.calc__btn_reset{
    background-color: rgb(223, 54, 54);
    color: #fff;
}

.calc__btn_equal{
    background-color: rgb(156, 138, 255);
    color: #fff;
    grid-column: 2 / -1;
}